.linha h5 {
    font-weight: bolder;
    padding-left: 30px;
}

.quadros {
    display: flex;
}

.col {
    padding-top: 10px;
    padding-left: 20px;
}

.card{
    height: auto;
    width: 30vw;
    padding-left: 10px;
    margin-left: 10px;
}
