#conteudo{
    display: inline-grid;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    top: 0px;
    padding-top: 0;
    align-items: center;
}

#conteudo .list-panel{
    max-width: 1170px;

}
#conteudo .list-panel td{
    font-size: 20px;
    
}
#conteudo .list-panel td>a{
    margin-left: 1vw;
    
}

#conteudo .new-panel{
    padding-left: 15vw;
    padding-right: 15vw;
}