@import "https://fonts.googleapis.com/icon?family=Material+Icons";

#root{
  display: grid;
}

body{
  background-color: #fafafa;
}

#page{
  display: inline;
  min-height: 100vh;
  flex-direction: column;

}
.row{
  margin: 0;
}

main{
  flex: 1 0 auto;
}

#content .row {
  margin: 0;
}